.nav{
    width: 375px;
    background-color: var( --primary-color);
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
}

.sideMonth{
    font-size: 12px;
    font-weight: 700;
    color: var( --accent-color );
}

.navArrow{
    height: 12px;
}