@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    --primary-color: #0B3157;
    --secondary-color: #FFF;
    --accent-color: #48C1C2;
    --attention-color: #F06543;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


